* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}
.container {
  margin-left: 100px;
  padding-top: 21px;
  line-height: 47px;
}
.container .form {
  background: aquamarine;
  padding: 28px;
}
.container .form input {
  width: 242px;
  padding: 6px;
  border: 2px solid;
  border-radius: 3px;
  margin-right: 22px;
}

.container .form a {
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 4px 20px;
  border-radius: 10px;
  background-color: RGB(80, 175, 81);
  color: #fff;
}
tbody > tr:nth-child(even) {
  background-color: gray;
}

tbody > tr:hover {
  background-color: #f1f1f1;
}
